body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.kapsayıcı {
 border: solid red;
}
.header {
  /*border: solid red;*/
  background-color: black;
  width: 100%;
  height: 7vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-list {
  display: flex;
  gap: 2rem;
  

}

li {
  list-style: none;
  color: white;
 }